<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>編集</title>
</head>
<body>
  <form action="/db_edit_complete/<%= data.id%>">
    <% for (const property of properties) { %>
      <% if (property.type === 'text') { %>
        <label for="<%= property.propertyName %>"><%= property.label%></label><br>
        <input type="<%= property.type %>" name="<%= property.propertyName %>" id="<%= property.propertyName %>" value="<%= data[property.propertyName]%>"
        <% if (property.required !== undefined && property.required === true) { %>required<% }; %>
        ><br>
      <% }; %>

      <% if (property.type === 'number') { %>
        <label for="<%= property.propertyName %>"><%= property.label %></label><br>
        <input
          type="number"
          name="<%= property.propertyName %>"
          id="<%= property.propertyName %>"
          value="<%= data[property.propertyName]%>"
          <% if (property.min !== undefined) { %> min="<%= property.min %>" <% }; %>
          <% if (property.max !== undefined) { %> max="<%= property.max %>" <% }; %>
          <% if (property.step !== undefined) { %> step="<%= property.step %>" <% }; %>
          <% if (property.required !== undefined && property.required === true) { %>required<% }; %>
        ><br>
      <% } %>

      <% if (property.type === 'select') { %>
        <label for="<%= property.propertyName %>"><%= property.label %></label><br>
        <select id="<%= property.propertyName %>" name="<%= property.propertyName %>">
          <% for (const optionData of property.options) { %>
              <option value="<%= optionData %>"
                <% if (data[property.propertyName] === optionData) { %>selected<% }; %>  
              ><%= optionData %></option>
          <% }; %>
        </select>
      <% }; %>

      <% if (property.type === 'url') { %>
        <label for="<%= property.propertyName %>"><%= property.label %></label><br>
        <input type="<%= property.type %>" name="<%= property.propertyName %>" id="<%= property.propertyName %>" value="<%= data[property.propertyName] %>"
        <% if (property.required !== undefined && property.required === true) { %>required<% }; %>
        ><br>
      <% }; %>

      <% if (property.type === 'time') {%>
      <label for="<%= property.propertyName %>"><%= property.label %></label><br>
      <input type="<%= property.type %>" name="<%= property.propertyName %>" id="<%= property.propertyName %>" value="<%= data[property.propertyName] %>"
      <% if (property.min !== undefined) { %> min="<%= property.min %>" <% }; %>
      <% if (property.max !== undefined) { %> max="<%= property.max %>" <% }; %>
      <% if (property.step !== undefined) { %> step="<%= property.step %>" <% }; %>
      <% if (property.required !== undefined && property.required === true) { %>required<% }; %>
      ><br>
      <% }; %>

      <% if (property.type === 'textarea') { %>
        <label for="<%= property.propertyName %>"><%= property.label%></label><br>
        <textarea name="<%= property.propertyName %>" id="<%= property.propertyName %>"
        <% if (property.required !== undefined && property.required === true) { %>required<% }; %>
        ><%= data[property.propertyName]%></textarea><br>
      <% }; %>
    <% }; %>
    <input type="submit">
  </form>
</body>
</html>