<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Arknightsキャラ一覧</title>
</head>
<body>
  <h2>Arknightsキャラ一覧</h2>
  <p><a href="/db_add">キャラを追加する</a></p>
  <table border="1">
    <tr>
      <th>ID</th>

      <% for (const property of properties) { %>
        <% if (property.view === undefined || property.view === true) { %><th><%= property.label %></th><% }; %>
      <% }; %>
    </tr>

    <% for (const data of dataList) { %>
      <tbody>
        <td><%= data.id %></td>
        <% for (const property of properties) { %>
          <% if (property.view !== undefined && property.view === false) continue; %>
          <% if (property.propertyName === propertySettings.click) { %>
            <td><a href="/db/<%= data.id %>"><%= data[property.propertyName] %></a></td>
          <% } else if (property.type === 'url') { %>
            <td><a href="<%= data[property.propertyName] %>"><%= data[property.propertyName] %></a></td>
          <% } else if (property.type === 'textarea') { %>
            <td><pre><%= data[property.propertyName] %></pre></td>
          <% } else { %>
            <td><%= data[property.propertyName] %></td>
          <% }; %>
        <% }; %>
      </tbody>
    <% }; %>
  </table><br>
</body>
</html>
