<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data[propertySettings.main] %></title>
</head>
<body>
  <h2><%= data[propertySettings.main] %>の詳細</h2>
  <table border="1">
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <% for (const property of properties ) { %>
      <% if (property.type === 'url') { %>
        <tr><td><%= property.label %></td><td><a href="<%= data[property.propertyName] %>"><%= data[property.propertyName] %></a></td><tr>
      <% } else if (property.type === 'textarea') { %>
        <tr><td><%= property.label %></td><td><pre><%= data[property.propertyName] %></pre></td></tr>
      <% } else { %>
        <tr><td><%= property.label %></td><td><%= data[property.propertyName] %></td></tr>
      <% }; %>
    <% }; %>
  </table>
  <a href="/db">一覧に戻る</a><br>
  <a href="/db_remove/<%= data.id%>">削除する</a><br>
  <a href="/db_edit/<%= data.id%>">編集する</a><br>
</body>
</html>